@import "../settings";

.full-screen {
  width: 100vw;
  height: 100vh;

}

.page-container {
  margin-top: -2em;
}


.section-wrapper {

}

section {
  //width: 100vw;
  height: 100vh;
  //text-align: center;
  color: $text-primary-color;
}

.section-wrapper {
  padding-top: 16%;
}

.scroll-indicator {
  position: fixed;
  color: white;
  transform: rotate(90deg);
  z-index: 5;
  bottom : 100px;
  right : 10px;
}

.side-content {
  //visibility: hidden;
  @include breakpoint(medium down) {
    visibility: hidden;
  }
}

/// New Code
.brand-logo {
  margin-left: 60px;
}
.page {
  display: flex;
  flex-flow: row;
  max-width: 100%;
  justify-content: flex-start;
}

.side-bar {
  flex: 0 0;
  min-width: 30%;
}

.section-container {
  flex: 0 0;
  min-width: 60%;
}