<div class="reach-us">
    <div class="reach-us__items">
        <h6 class="reach-us__heading">Office Location</h6>
        <div class="reach-us__first-line">137, Seasons Community</div>
        <div class="reach-us__second-line">JVC, Dubai, UAE</div>
    </div>
    <div class="reach-us__items">
        <h6 class="reach-us__heading">Get In Touch</h6>
        <div class="reach-us__first-line"><strong>T.</strong> +971 566375356</div>
        <div class="reach-us__second-line"><strong>E.</strong> satadru.bhatt@gmail.com</div>
    </div>
    <!--<div class="reach-us__items">
        <div class="reach-us__heading">Office Location</div>
        <div class="reach-us__first-line">Office Location</div>
        <div class="reach-us__second-line">Office Location</div>
    </div>-->
</div>