<div class="team">
    <div class="team__member">
        <div class="profile-pic satadru" ></div>
        <h4 class="profile-name">Satadru</h4>
        <div class="profile-role">Full-stack Developer</div>
        <div class="profile-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
        <div class="profile-social">
            <div class="profile-social__items"><i class="profile-social__icons fi-social-linkedin"></i></div>
            <div class="profile-social__items"><i class="profile-social__icons fi-social-github"></i></div>
            <div class="profile-social__items"><i class="profile-social__icons fi-social-medium"></i></div>
            <div class="profile-social__items"><i class="profile-social__icons fi-social-twitter"></i></div>
        </div>
    </div>
    <div class="team__member">
        <div class="profile-pic satadru"></div>
        <h4 class="profile-name">Samik</h4>
        <div class="profile-role">Machine Learning</div>
        <div class="profile-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
        <div class="profile-social">
            <div class="profile-social__items"><i class="profile-social__icons fi-social-linkedin"></i></div>
            <div class="profile-social__items"><i class="profile-social__icons fi-social-github"></i></div>
            <div class="profile-social__items"><i class="profile-social__icons fi-social-medium"></i></div>
            <div class="profile-social__items"><i class="profile-social__icons fi-social-twitter"></i></div>
        </div>
    </div>
</div>