<div class="contact-container">
    <div class="contact-form">
        <h3 class="contact__heading">Let's Work Together</h3>
        <p class="contact__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
        <form>
            <label>Name :
                <input type="text" placeholder="Your Full Name">
            </label>
            <label>Email :
                <input type="text" placeholder="Type Your Email">
            </label>
            <fieldset class="">
                <legend>Anything Special ? </legend>
                <div class="checkbox-container">
                    <div class="special-checkbox">
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                    </div>
                    <div class="special-checkbox">
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                    </div>
                    <div class="special-checkbox">
                        <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
                    </div>
                </div>
            </fieldset>
            <label>
                How Can I help
                <textarea placeholder="None"></textarea>
            </label>
            <input type="submit" class="button" value="Submit">
        </form>
    </div>
    <div class="contact-us">
        {{>part-reach-us}}
    </div>
</div>