<div class="services">
    <div class="services__item">
        <i class="service-icon fi-social-designer-news"></i>
        <h3 class="service-heading">Design Prototyping</h3>
        <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="services__item">
        <i class="service-icon fi-mobile"></i>
        <h3 class="service-heading">Product Design</h3>
        <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="services__item">
        <i class="service-icon fi-web"></i>
        <h3 class="service-heading">Mobile Development</h3>
        <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="services__item">
        <i class="service-icon fi-projection-screen"></i>
        <h3 class="service-heading">Web Development</h3>
        <p class="service-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
</div>