<div class="side-content">
<div class="side-menu" >
    <ul class="vertical menu align-right" data-magellan>
        <li><a href="#home"><span class="menu-item__label"> Home </span><input type="radio" name="services"></a></li>
        <li><a href="#services"><span class="menu-item__label"> Services </span><input type="radio" name="services"></a></li>
        <li><a href="#whitepaper"><span class="menu-item__label"> Whitepaper </span></label><input type="radio" name="whitepaper"></a></li>
        <li><a href="#team"><span class="menu-item__label"> Team </span><input type="radio"></a></li>
        <li><a href="#blog"><span class="menu-item__label"> Blogs </span><input type="radio"></a></li>
        <li><a href="#contact"><span class="menu-item__label">Contact </span> <input type="radio"></a></li>
    </ul>
</div>
<div class="app-sidebar"></div>
</div>